{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <div class="container m-auto">
        <h1 class="bg-black">Hello World!</h1>
    </div>
{% endblock %}
